/* Карточки сотрудников */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #0edcc3;
}

.card img {
    width: auto;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h3 {
    color: #0ff;
    margin-bottom: 5px;
}

.card p {
    opacity: 0.8;
    margin-bottom: 10px;
}

.btn {
    background: #053003;
    color: #f6f1f1;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: #14cc17;
    transform: scale(1.05);
}